body {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 20mm;
  font-size: 4.5mm;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header#info > p > span::after {
  margin-top: 1mm;
}

header#info > p > span.storeName {
  font-weight: bold;
}

header#info > p > span.storeCode::before {
  content: 'codice farmacia:';
  margin-right: 2mm;
}

header#info > p > span.storeCode {
  margin-left: 10mm;
}

header#info > p > span.uuid::before {
  content: 'C.F.:';
  margin-right: 2mm;
}

header#info > p > span.iva::before {
  content: 'P. IVA:';
  margin-right: 2mm;
}

header#info > p > span.iva {
  margin-left: 10mm;
}

header#title {
  margin-top: 5mm;
  text-align: center;
}

header#title > h1 {
  font-size: 6mm;
}

header#title > h2 {
  font-size: 5mm;
  font-weight: bold;
}

header#title > h3::before {
  content: 'Mese e anno di competenza:';
  margin-right: 2mm;
  font-weight: normal;
}

header#title > h3 {
  font-size: 5mm;
  font-weight: bold;
  font-style: italic;
}

table#entries {
  diplay: table;
  margin: 5mm auto auto auto;
  border: solid black 0.5mm;
}

table#entries > thead > tr > th {
  padding: 1mm;
  border: solid black 0.5mm;
  background-color: #D3D3D3;
  text-align: center;
}

table#entries > tbody > tr > td {
  padding: 1mm;
  border: solid black 0.5mm;
  text-align: right;
}


table#summary {
  display: table;
  width: 100%;
  margin-top: 20mm;
  border: solid black 0.5mm;
  text-align: center;
}

table#summary > tbody > tr > td {
  padding: 2mm;
}

table#summary > tbody > tr > td.mark {
  border-right: solid black 0.5mm;
  font-weight: bold;
  font-size: 5mm;
}

table#summary > tbody > tr > td.entriesCount {
  border-bottom: solid black 0.5mm;
}

table#summary > tbody > tr > td.entryLabel {
  border-right: solid black 0.5mm;
}

table#summary > tbody > tr > td.entryValue {
  border-right: solid black 0.5mm;
  border-bottom: solid black 0.5mm;
  font-weight: bold;
}

table#summary > tbody > tr > td.signature {
  padding-bottom: 50mm;
  font-weight: bold;
}
